{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta name="google-signin-client_id"
          content="653000661726-r7cbmkee31ql9sgsln16023c5sfti3rh.apps.googleusercontent.com">
        <title> Amazing Books Collection </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
                crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>            
    </head>
    <body onload="getData()" id="body">
    {% csrf_token %}
    <div class="button">
    <a href="{% url 'logout' %}" onclick="signOut();">Sign Out</a>
    <a href = "/">
    <button class="books-collection">Back</button>
    </a>
    </div>
    <div id="container-books" class="books">
    <h1 id="title">Amazing Books Collection</h1>
    <h4 align="center">Welcome, {{ name }}</h4>
    <input type="text" placeholder="Search.." name="search" id="searchBar">
            <button type="submit" onclick='call_book_api()'>Search</button>
    </div>
    <h4 class="favorited"><i class = "fas fa-star"></i>Favorited Books: <span id="counter">{{ count }}</span></h4>

        <table id="table" class="table table-hover table-striped">
            <thead class="thead-light">
                <tr align="center">
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Published Date</th>
                    <th><img width="25" height="25" src="{% static 'img/favorite.png' %}"></th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
</body>
    <script>
        var favoritedIcon = "/static/img/favorited.png";
    var defaultIcon = "/static/img/default.png";

        function getData() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: 'GET',
            url: '/book/render/',
            headers: {
                "X-CSRFToken": csrftoken,
            },
            success: function (result) {
                var data = result.data;
                var icon;
                for (var i = 0; i < data.length; i++) {
                    var book_info = data[i];
                    if (book_info.boolean) {
                        icon = `<img width='24' height='24' id="${book_info['id']}" onclick='removeFromFavorites("${book_info['id']}")' src='${favoritedIcon}'>`;
                    } else {
                        icon =`<img width='24' height='24' id="${book_info['id']}" onclick='addFavorites("${book_info['id']}")' src='${defaultIcon}'>`;
                    }
                    html =
                        `<tr><td>${book_info['title']}</td><td>${book_info['authors']}</td><td>${book_info['published']}</td><td align="center">${icon}</td></tr>`;
                    $('#tbody').append(html);
                }
            }
        })
    }

    function addFavorites(id) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/book/add/",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                id: id,
            },
            success: function (res) {
                var icon =`<img width='24' height='24' id="${res.id}" onclick='removeFromFavorites("${res.id}")' src='${favoritedIcon}'>`;
                $("#" + res.id).replaceWith(icon);
                $("#counter").replaceWith(`<span id='counter'>${res.count}</span>`);
            },
            error: function () {
                alert("Error, cannot get data")
            }
        });
    }

    function removeFromFavorites(id) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/book/remove/",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                id: id,
            },
            success: function (res) {
                var icon =`<img width='24' height='24' id="${res.id}" onclick='addFavorites("${res.id}")' src='${defaultIcon}'>`;
                $('#' + res.id).replaceWith(icon);
                $("#counter").replaceWith(`<span id='counter'>${res.count}</span>`);
            },
            error: function () {
                alert("Error, cannot get data from server")
            }
        });
    }

    $(document).ready(function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    });

    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        sendToken(id_token);
        console.log("Logged In");
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('Signed out');
        });
    }

    function sendToken(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: "POST",
            url: "/login/",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {id_token: token},
            success: function (result) {
                console.log("Successfully send token");
                if (result.status === "0") {
                    html = "<h4 class='success'>Logged In</h4>";
                    window.location.replace(result.url);
                } else {
                    html = "<h4 class='fail'>Error</h4>"
                }
                $("h4").replaceWith(html)
            },
            error: function () {
                alert("Error")
            }
        })
    }
    function call_book_api() {
        var txt = $("#searchBar").val();
        var link = "https://www.googleapis.com/books/v1/volumes?q=" + txt;
        $.ajax({
            method: 'GET',
            url: link,
            success: function (result) {
                $('#tbody').empty();
                for (var i = 0; i < result['items'].length; i++) {
                    var html =
                        "<tr>" +
                        "<td>" + result['items'][i].volumeInfo.title + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.authors[0] + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.publishedDate + "</td>" +
                        "<td><img width='80' height='50' src='" + defaultIcon + "'></td>";
                    "</tr>";
                    $('#tbody').append(html);
                }
                console.log(result);
            },
            error: function () {
                alert("Error!");
            }
        })
    }

    </script>

</html>