{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title> Status Web </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript" rel="script"></script>
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="judul">
        <h1>HELLO!</h1>
    </div>
    <div class="introduce">
        <p>Name : Jihan Maulana Octa</p>
        <p>NPM  : 1706984644</p>
        <p>University   : University of Indonesia</p>
    </div>
    <div class="button">
        <a href ="/">
            <button class="btn-profile"> Back</button>
        </a>
        <a href ="{% url 'subscribe' %}">
            <button id="subscribe-page" class="subscribe-page">Subscribe</button>
        </a>
    </div>

    <div id="accordion" class="accordion">
        <h3>Aktivitas</h3>
        <div>
            <p>Aktivitas saya saat ini adalah mengerjakan tugas PPW dan tugas Fasilkom lainnya.</p>
        </div>
        <h3>Organisasi dan Kepanitiaan</h3>
        <div>
            <p>Saat ini saya sedang mengikuti organisasi Ristek Fasilkom UI dan kepanitian CGT Fasilkom UI.</p>
        </div>
        <h3>Prestasi</h3>
        <div>
            <p>Prestasi saya adalah peserta OSN Astronomi saat SMA.</p>
        </div>
    </div>
    
</body> 
</html>