{% load staticfiles %}
<!DOCTYPE html>
<html>
<head id="head">
    <title id="title"> Status Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript" rel="script"></script>

</head>
<body id="body" class="body">
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="judul">
        <h1 id="hello">HELLO! Apa Kabar?</h1>
    </div>
    <div class="button">
        <a href ="profile">
            <button id="btn-profile" class="btn-profile">My Profile</button>
        </a>
        <button id="change-theme" class="change-theme">Change Theme</button>
        <a href ="{% url 'books_page' %}">
            <button id="books-collection" class="books-collection">Books Collection</button>
        </a>
    </div>
    <div class="formStatus">
        <form id="isi-status" action="/" method="POST" class="isiStatus">
            {% csrf_token %}
            {% for fields in form %}
                {{ fields.label_tag }}
                {{ fields }}
            {% endfor %}
            <div>
                <input id="submit" class="submit" type="submit" value="Submit">
            </div>
        </form>

        <section class="res">
            <div id='res-status' class='res-status'>
                {% for result in status %}
                <div class="list">
                    <p id="stat" class="stat">
                        {{ result.created_at }}
                        {{ result.isi_status }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>