.judul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;   
}

.form-control {
display: flex;
flex-direction: column;
}

.isiStatus {
display: flex;
flex-direction: column;
justify-content: center;
}


html,body {
margin:48px;
}

.stat {
display: flex;
justify-content: center;
border-style: solid;
padding: 16px;
border-radius: 32px;
background-color: darkseagreen;
border-color: grey;
}

.stat-2 {
  display: flex;
  justify-content: center;
  border-style: solid;
  padding: 16px;
  border-radius: 32px;
  background-color: darksalmon;
  border-color: seagreen;
  }

.form-control {
border-style: solid;
border-color: darkseagreen;
border-radius: 32px;
border-width: thick;
margin: 16px 0px 16px 0px;
}

.form-control-2 {
  border-style: solid;
  border-color: darksalmon;
  border-radius: 32px;
  border-width: thick;
  margin: 16px 0px 16px 0px;
  }

.submit {
  background-color:  darkseagreen;
}

.submit-2 {
  background-color:  darksalmon;
}

.submit {
padding: 16px;
display: flex;
justify-content: flex-end;
}

input {
padding: 8px 20px 8px 20px;
border-radius: 32px;
border-color: seagreen;
}

input-2 {
  padding: 8px 20px 8px 20px;
  border-radius: 32px;
  border-color: salmon;
  }

label {
font-size: 30px;
}

.list {
word-break: break-all;
}

#hello {
  color: black;
}

.button {
display: flex;
padding: 16px; 
}

.btn-profile{
padding: 8px 20px 8px 20px;
border-radius: 32px;
border-color: seagreen;
font-size: 20px;
}

.btn-profile-2{
  padding: 8px 20px 8px 20px;
  border-radius: 32px;
  border-color: salmon;
  font-size: 20px;
  }

.change-theme{
  padding: 8px 20px 8px 20px;
  border-radius: 32px;
  border-color: seagreen;
  font-size: 20px;
  }

  .change-theme-2{
    padding: 8px 20px 8px 20px;
    border-radius: 32px;
    border-color: salmon;
    font-size: 20px;
    }

    .subscribe-page{
      padding: 8px 20px 8px 20px;
      border-radius: 32px;
      border-color: seagreen;
      font-size: 20px;
      }

.books-collection{
    padding: 8px 20px 8px 20px;
    border-radius: 32px;
    border-color: seagreen;
    font-size: 20px;
    }
    .books-collection-2{
      padding: 8px 20px 8px 20px;
      border-radius: 32px;
      border-color: salmon;
      font-size: 20px;
      }

.introduce{
  border-style: solid;
  border-radius: 32px;
  border-color: seagreen;  
}

.introduce p{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.accordion {
  background-color: darkseagreen;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: auto;
  display: block;
}

.activev, accordion:hover{
  background-color: black;
}

.accordion:hover{
  background-color:darksalmon;
}

.activev:after{
  content: "\2212";
}

#preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darksalmon;
  z-index: 99;
}

#status{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

#title{
  color: darkmagenta;
  font-weight: 600;
}

.button-fav{
  cursor: pointer;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.form{
  width: 30rem;
  border: 2px solid salmon;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: salmon;
  opacity: 0.9;
}

.form-btn{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.success{
  color: green;
  font-size: 1.25rem;
}

.fail{
  color: red;
  font-size: 1.25rem;
}

.login {
  background-color: white;
  border: 2px solid black;
  width: 24rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: gray 4px 4px 2px 2px;
}

.body-login {
  height: 100vh;
}

