{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>  UnSubscriber </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
                crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>    
    </head>
    <body onload="renderResult()">
        <div class="form">
            {% csrf_token %}
            <div id="res" class="result"></div>
        </div>
        <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Password</h4>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p class="errorlist"></p>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <input type="password" id="input-password" class="form-control" placeholder="Input Password">
                        <input id='ok' type="button" class="btn btn-primary" onclick="unsubscribe()" value="Confirm">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <h1 align="center">Subscriber List</h1>
    <section class="result-container container-fluid">
        {% csrf_token %}
        <table id="table" class="table table-hover table-striped table-bordered">
            <thead class="thead-light">
            <tr align="center">
                <th>Name</th>
                <th>Email</th>
                <th>Button</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

    </section>
    </body>
    <script>
        var email = "";

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        function renderResult() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            method: 'POST',
            url: '../../subscribe/subs/',
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function(result){
                var data_length = result.listData.length;
                var data = result.listData;
                for(var i = 0; i<data_length; i++){
                    var name = data[i]['name'];
                    var email = data[i]['email'];
                    var button = `<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="changeEmail(this)" id="${email}">Unsubscribe</button>`;
                    var html =
                        `<tr name="${email}"><td>${name}</td><td>${email}</td><td align='center'>${button}</td></tr>`;
                    $('#tbody').append(html);
                }
            }
        })
    }

        function changeEmail(self){
            email = self.id;
        }

        function unsubscribe(){
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var password = $('#input-password').val();

            $.ajax({
                method: 'POST',
                url: "{% url 'delete' %}",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                data: {email: email, password: password},
                success: function(res){
                    if(res.deleted) {
                        $('#close').click();
                        $("[name=" + "'" + email + "']").remove();
                    }else {
                        $('.modal-body .errorlist').replaceWith("<p class='errorlist fail'> Password Salah!</p>");
                    }
                }
            })
        }
</script>
</html>

