{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Registrasi Subscriber </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
                crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>    
    </head>
    <body id="body">
        <div class="button">
            <a href ="/">
                <button class="subscribe-page"> Back</button>
            </a>
        </div>
        <h1 align="center">Subscribe Here!</h1>
        <section id="form-container">
            <div id="errorlist"><p></p></div>
            <form id="form" class="form" method="POST">
                {% csrf_token %}
                {% for form in form %}
                <div class="form-group">
                    {{ form.label_tag }}
                    {{ form }}
                </div>
                {% endfor %}
                <div class="form-btn">
                    <button id="submit-btn" type="submit" value="Submit" class="btn" disabled>Subscribe!</button>
                </div>
            </form>
        </section>
    </body>
    <script>
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var email_valid;
        var timer = 0;
        
        $('#email').keydown(function() {
            clearTimeout(timer);
            timer = setTimeout(validasi_email, 1500);
        });

        $('#name').keydown(function () {
            clearTimeout(timer);
            timer = setTimeout(button, 1000);
        });

        $('#password').keydown(function () {
            clearTimeout(timer);
            timer = setTimeout(button, 1000);
        });

        $('#form').on('submit', function (event) {
            event.preventDefault();
            console.log("Form Submitted!");
            formData();
        });

        function validasi_email() {
            $.ajax({
                method: 'POST',
                url: "/subscribe/validasi/",
                headers: {
                    "X-CSRFToken": csrftoken,
                },
                data: {
                    email: $('#email').val(),
                },
                success: function (email) {
                    if (email.is_exists){
                        email_valid = false;
                        $('#errorlist p').replaceWith("<p class='fail'>Email tersebut sudah pernah didaftarkan sebelumnya, silakan daftar dengan email lain</p>");
                    }
                    else { 
                        email_valid = true;
                        button();
                    }
                },
                error: function() {
                    alert("Error, cannot validate email")
                }
            })
        }

        function formData() {
            $.ajax({
                method: 'POST',
                url: "/subscribe/post/",
                headers: {
                    "X-CSRFToken": csrftoken,
                },
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    password: $('#password').val(),
                },
                success: function (response){
                    if(response.is_success) {
                        $('#name').val('');
                        $('#email').val('');
                        $('#password').val('');
                        $('#submit-btn').prop('disabled', true);
                        $('#errorlist p').replaceWith("<p class='success'>Data saved</p>");
                        console.log("Success add data");
                    }
                    else{
                        $('#errorlist p').replaceWith("<p class='fail'>Cannot saved data</p>");
                    }
                },
                error: function () {
                    alert("Error, cannot get data");
                }
            })
        }

        function button() {
            var name = $('#name').val();
            var email = $('#email').val();
            var password = $('#password').val();
            if (password.length !== 0 && name.length !== 0 && email_valid){
                $('#errorlist p').replaceWith("<p></p>");
                $('#submit-btn').prop('disabled', false);
            }
            else if (password.length === 0 && name.length === 0) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Password and name must be filled in</p>");
            }
            else if (password.length === 0 && email.length === 0) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Password and email must be filled in</p>"); 
            }
            else if (name.length === 0 && email.length === 0) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Name and email must be filled in</p>");
            }
            else if (password.length === 0) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Password must be filled in</p>");
            }
            else if (name.length === 0) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Name must be filled in</p>");
            }
            else if (email.length === 0) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Email must be filled in</p>");
            }
            else if (!email_valid) {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Email tersebut sudah pernah didaftarkan sebelumnya, silakan daftar dengan email lain</p>");
            }
            else {
                $('#submit-btn').prop('disabled', true);
                $('#errorlist p').replaceWith("<p class='fail'>Tuliskan email yang benar!</p>");
            }
        }
</script>

</html>