{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta name="google-signin-client_id"
          content="653000661726-r7cbmkee31ql9sgsln16023c5sfti3rh.apps.googleusercontent.com">
        <title> Login Page </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
                crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
            
    </head>
    <body class="body-login d-flex flex-column justify-content-center align-items-center">
        <h1>Google Books API Collections</h1>
        <section class="d-flex justify-content-center align-items-center">
            {% csrf_token %}
            <div class="login container d-flex flex-column justify-content-center align-items-center">
                <h4>LOGIN HERE</h4>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </section>
    </body>

    <script>

        function getData() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: 'GET',
            url: '/render/',
            headers: {
                "X-CSRFToken": csrftoken,
            },
            success: function (result) {
                var data = result.data;
                var icon;
                for (var i = 0; i < data.length; i++) {
                    var book_info = data[i];
                    if (book_info.boolean) {
                        icon = `<button id="${book_info['id']}" onclick='removeFromFavorites("${book_info['id']}")'><i class="yellow"></i></button>`;
                    } else {
                        icon = `<button id="${book_info['id']}" onclick='addFavorites("${book_info['id']}")'><i class="def"></i></button>`;
                    }
                    html =
                        `<tr><td align='center'><img width='80' height='100' src='${book_info['url']}'></td><td>${book_info['title']}</td><td>${book_info['authors']}</td><td>${book_info['published']}</td><td align="center">${icon}</td></tr>`;
                    $('#tbody').append(html);
                }
            }
        })
    }

    function addFavorites(id) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/add/",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                id: id,
            },
            success: function (res) {
                var icon = `<button id="${res.id}" onclick='removeFromFavorites("${res.id}")'><i class="yellow"></i></button>`;
                $("#" + res.id).replaceWith(icon);
                $("#counter").replaceWith(`<span id='counter'>${res.count}</span>`);
            },
            error: function () {
                alert("Error, cannot get data")
            }
        });
    }

    function removeFromFavorites(id) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/book/remove/",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                id: id,
            },
            success: function (res) {
                var icon = `<button id="${res.id}" onclick='addFavorites("${res.id}")'><i class="def"></i></button>`;
                $('#' + res.id).replaceWith(icon);
                $("#counter").replaceWith(`<span id='counter'>${res.count}</span>`);
            },
            error: function () {
                alert("Error, cannot get data from server")
            }
        });
    }

    $(document).ready(function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    });

    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        sendToken(id_token);
        console.log("Logged In");
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('Signed out');
        });
    }

    function sendToken(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: "POST",
            url: "/login/",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {id_token: token},
            success: function (result) {
                console.log("Successfully send token");
                if (result.status === "0") {
                    html = "<h4 class='success'>Logged In</h4>";
                    window.location.replace(result.url);
                } else {
                    html = "<h4 class='fail'>Error</h4>"
                }
                $("h4").replaceWith(html)
            },
            error: function () {
                alert("Error")
            }
        })
    }
    </script>
</html>
